@layer reset, theme, global, layout, module;

@font-face {
    font-family: 'Outfit';
    src: url("./assets/fonts/Outfit/Outfit.ttf") format("truetype");
}

@font-face {
    font-family: "Young Serif";
    src: url("./assets/fonts/young-serif/young-serif.ttf") format("truetype");
    font-weight: normal;
}

@layer reset {


    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: unset;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-inline-size: 100%;
        height: auto;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}

@layer theme {
    :root {
        --white: hsl(0, 0%, 100%);

        --stone-100: hsl(30 54% 90%);
        --stone-150: hsl(30 18% 87%);
        --stone-600: hsl(30 10% 34%);
        --stone-900: hsl(24 5% 18%);

        --brown-800: hsl(14 45% 36%);

        --rose-800: hsl(332 51% 32%);
        --rose-50: hsl(330 100% 98%);

        --base-font: 1rem;

        font-size: var(--base-font);

        --font-body: 'Outfit';
        --font-heading: 'Young Serif';
    }
}

@layer global {
    body {
        font-family: var(--font-body), sans-serif;
        background-color: var(--stone-100);
        color: var(--stone-600);
        line-height: 1.5;
    }

    h1, h2 {
        font-family: var(--font-heading), serif;
        font-weight: 400;
    }

    h1 {
        color: var(--stone-900);
        line-height: 1.1;
        margin-block: 32px 28px;
    }

    h2 {
        color: var(--rose-800);
    }

    ol li + li , ul li + li {
        margin-top: 16px;
    }
}

@layer layout {
    .container {
        max-inline-size: 1000px;
        margin-inline: auto;
        background-color: var(--white);
        padding-inline: 28px;
    }
}

@layer modules {
    .image-container {
        margin-inline: -28px;
    }

    .preparation {
        background-color: var(--rose-50);
        padding: 10px 20px;
        border-radius: 10px;
    }

    .preparation h2 {
        font-family: var(--font-body), serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: 0;
    }

    .preparation ul {
        padding: 0;
        list-style-position: inside;
    }

    .preparation ul li span {
        font-weight: 700;
    }
}


