@layer reset, theme, global, layout, module;

@font-face {
    font-family: 'Outfit';
    src: url("./assets/fonts/Outfit.woff2") format("woff2");
}

@font-face {
    font-family: "Young Serif";
    src: url("./assets/fonts/young-serif.woff2") format("woff2");
    font-weight: normal;
}

@layer reset {


    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: unset;
    }

    button,
    input,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-inline-size: 100%;
        height: auto;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }
}

@layer theme {
    :root {
        --white: hsl(0, 0%, 100%);

        --stone-100: hsl(30 54% 90%);
        --stone-150: hsl(30 18% 87%);
        --stone-600: hsl(30 10% 34%);
        --stone-900: hsl(24 5% 18%);

        --brown-800: hsl(14 45% 36%);

        --rose-800: hsl(332 51% 32%);
        --rose-50: hsl(330 100% 98%);

        --base-font: 1rem;

        font-size: var(--base-font);

        --font-body: 'Outfit';
        --font-heading: 'Young Serif';

        accent-color: var(--rose-800);
        color-scheme: light;
    }
}

@layer global {
    body {
        font-family: var(--font-body), sans-serif;
        background-color: var(--stone-100);
        color: var(--stone-600);
        line-height: 1.5;
    }

    h1, h2 {
        font-family: var(--font-heading), serif;
        font-weight: 400;
    }

    h1 {
        color: var(--stone-900);
        line-height: 1.1;
        margin-block: 32px 28px;
    }

    h2 {
        color: var(--rose-800);
        font-size: 1.75rem;
    }

    ol, ul {
        padding-left: 0;
    }

    ol li + li, ul li + li {
        margin-top: 16px;
    }

    section li {
        padding-left: 16px;
        margin-left: 16px;
    }

}

@layer layout {
    .container {
        max-inline-size: 1000px;
        margin-inline: auto;
        background-color: var(--white);
        padding-inline: 28px;

        @media (width > 1000px) {
            margin-block: 56px;
            margin-inline: 32px;
            padding-block: 28px;
            border-radius: 20px;
        }

        @media (width > 1080px) {
            margin-inline: auto;
        }
    }
}

@layer modules {
    .image-container {
        margin-inline: -28px;

        @media (width > 1000px) {
            margin-inline: auto;
            border-radius: 10px;
            overflow: clip;
        }
    }


    .preparation {
        background-color: var(--rose-50);
        padding: 10px 20px;
        border-radius: 10px;
    }

    .preparation h2 {
        font-family: var(--font-body), serif;
        font-weight: 600;
        font-size: 18px;
        margin-top: 0;
    }

    .preparation ul {
        padding: 0;
        list-style-position: inside;
    }

    .preparation ul li span {
        font-weight: 700;
    }

    section:not(:last-of-type) {
        border-bottom: 2px solid var(--stone-150);
        padding-bottom: 24px;

    }

    .instructions ol li span {
        font-weight: 700;
    }

    .nutrition table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

    .nutrition table td:not(tr:last-child td) {
        border-bottom: 1px solid var(--stone-150);
    }

    .nutrition table td {
        padding: 14px 24px;
    }

    .nutrition td:last-of-type {
        color: var(--rose-800);
        font-weight: 700;
    }


}


